.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  max-height: calc(100vh - 54px);
  overflow-x: auto;

  &__row {
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid darkgrey;

    &:hover {
      opacity: 80%;
    }

    img {
      margin-right: 5px;
    }

}

}