.container {
  display: flex;
  flex-direction: column;
  background: #ccc;
  padding: 10px;
  height: 100vh;

  &__header {
    display: flex;
    align-self: center;
    font-size: 18px;
    padding: 5px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}